.login {
    display: flex;
    padding: 300px;
    /* justify-items: center; */
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.904), rgb(0, 0, 0));
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  .login2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.904), rgb(255, 255, 255));
    /* background: #fff; */
  
    border-radius: 20px;
    /* border: 5px solid; */
    padding: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
 