.App {
  text-align: center;
}
nav{
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(34, 34, 34, 0.2), 0 6px 20px 0 rgb(0, 0, 0);
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(95, 95, 95));
  color: rgb(253, 253, 253);
}

.nav-links{
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

